* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.back_btn_container {
  align-self: flex-start;
  margin-top: 3rem;
  margin-left: 3rem;
  position: relative;
  z-index: 3;
}

.back_btn_link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e0e0e0;
  text-decoration: none;
  margin-bottom: 3rem;
}

.name_tag {
  display: flex;
  background-color: red;
}

.title_container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  z-index: 5;
}

.pokemon_id_container {
  margin-left: 1rem;
}

.pokemon_display {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.arrow {
  position: relative;
  z-index: 2;
}

.pokemon_img_container {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.pokemon_img_container img {
  width: 300px;
  height: 100%;
  object-fit: cotain;
  z-index: 5;
  position: relative;
}

.card {
  border: solid black;
}

.name {
  color: white;
  font-size: 3rem;
  position: relative;
}

.id_text {
  color: white;
  font-size: 1rem;
  position: relative;
}

.pokemon_card_container {
  background-color: white;
  border-radius: 1rem;
  width: 30rem;
  height: 20rem;
  padding: 0px 10px;
}

.type_container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  gap: 1rem;
}

.pokemon_description_container {
  height: 3.5rem;
}

.pokemon_description {
  font-size: 1rem;
  max-width: 100%;
  max-height: 100%;
}

.pokemon_stat_container {
  background-color: white;
  width: 4rem;
}

.pokemon_stat_list_container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  height: auto;
}

.pokemon_stat {
  margin-bottom: 4px;
}

.pokemon_stat p {
  text-align: center;
  font-size: 1.5rem;
  color: #7f7f7f;
}

.stat_name {
  text-align: center;
  font-size: 1.1rem;
}

hr {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.description_title {
  color: black;
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: bold;
}

.type {
  padding: 4px 24px;
  border-radius: 12px;
  pointer-events: none;
  cursor: not-allowed;
  border: none;
  color: white;
  font-size: 1rem;
}

.card_container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  height: auto;
}

.card_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 5rem;
  height: 4rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card_title {
  margin-bottom: 4px;
  font-weight: bold;
}

.card_value {
  text-align: center;
}

.card_title {
  text-align: center;
}

.circle_container {
  position: absolute;
  width: 100%;
  height: 55vh;
  overflow: hidden;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
  z-index: 2;
}
